<%= form_with model: Graph.new do |form| %>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">日付</span>
    </div>
    <%= form.text_field :date, class: 'form-control bg-white', id: "new-calendar" %>
  </div>
  <small>記録が存在する日付は選択できません</small>
  <div class="input-group mt-3">
    <div class="input-group-prepend">
      <span class="input-group-text">金額</span>
    </div>
    <%= form.number_field :yen, class: 'form-control', id: "new-yen", required: true %>
    <div class="ml-2 my-auto">yen</div>
  </div>
  <div class="input-group mt-3">
    <div class="input-group-prepend">
      <span class="input-group-text">予算</span>
    </div>
    <%= form.number_field :remain, class: 'form-control', id: "new-remain", required: true %>
    <div class="ml-2 my-auto">remain</div>
  </div>

  <div class="form-group mt-3">
    <%= form.submit '新規登録', class: 'btn btn-primary btn-block', id: 'new-button' %>
  </div>
<% end %>

